.border-hero {
  border-radius: 0 35% 0 35%;
}

.w_20 {
  width: 20px;
}

.heading1 {
  color: #2549d3;
  /* color: #2979ff; */
  /* font-size: 32px; */
  font-weight: bold;
  /* text-align: center; */
  margin-bottom: 20px;
  text-transform: uppercase;
  /* font-size: 64px; */
  padding: 0;
}

.main-search {
  height: 55px !important;
}

.searchBtn {
  padding: 8px 0;
  /* width: 50%; */
  border: none;
  background: #2549d3;
  border-radius: 10px;
  color: #ffffff !important;
}
